@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .custom_scrollbar {
    scrollbar-width: thin;
  }
  .custom_scrollbar::-webkit-scrollbar {
    @apply w-2;
  }
  .custom_scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .custom_scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }
  .custom_scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600 rounded-md;
  }
  .custom_scrollbar_none {
    -ms-overflow-style: none;
    scrollbar-width: none !important;
  }
  .custom_scrollbar_none::-webkit-scrollbar {
    @apply w-0;
  }
  .custom_scrollbar_none::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .custom_scrollbar_none::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-md;
  }
  .custom_scrollbar_none::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600 rounded-md;
  }
  .alignCenterScreen__sticky {
    @apply sticky top-[50%] left-[50%] transform -translate-x-[50%] -translate-y-[50%];
  }
  .alignCenterScreen__absolute {
    @apply absolute top-[50%] left-[50%] transform -translate-x-[50%] -translate-y-[50%];
  }
  .alignCenterScreen__fixed {
    @apply fixed top-[50%] left-[50%] transform -translate-x-[50%] -translate-y-[50%];
  }
  .animation-300 {
    @apply transition-all duration-300;
  }
  .animation-200 {
    @apply transition-all duration-200;
  }
  .animation-100 {
    @apply transition-all duration-200;
  }
  .inputLabelInsideBorder {
    @apply absolute text-666666 text-13 -top-9px left-18px bg-white transition-all duration-300 z-10;
  }
  .inputFormLabelInside {
    @apply hover:border-009ADA border-light-E0E0E0 p-18px border outline-none rounded-6px w-full text-base font-sfpro font-normal;
  }
  .inputLabelInsideBorder:hover {
    @apply text-009ADA transition-all duration-300;
  }
  .inputFormBorderBottom {
    @apply bg-light-F3F3F3 border-b border-l-0 border-t-0 border-r-0 border-dark-1A1A1C w-full text-sm outline-none rounded-t-6px;
  }
  .inputLabelOnlyBorderBottom {
    @apply absolute text-dark-575758 text-12 top-1.5 left-3 z-10;
  }
  .hoverIconChat {
    @apply text-1A94FF transition-all duration-300;
  }
  .labelRadio {
    @apply absolute w-full h-auto z-20 cursor-pointer pl-8;
  }
  .scrollbar-global {
    @apply scrollbar-track-blue-300 scrollbar-thin scrollbar-thumb-blue-700 overflow-y-scroll;
  }
  .inputWrapperVuivui {
    @apply relative;
  }
  .inputWrapperVuivui input:not([value=""]) + .InputVuivuiPlaceholder {
    @apply hidden;
  }
  .InputVuivuiPlaceholder {
    @apply absolute pointer-events-none top-0 bottom-0 flex items-center text-16 left-4 m-auto text-[#ccc];
  }
  .InputVuivuiPlaceholder span {
    @apply text-red-500;
  }

  .checked-radio {
    display: block;
    position: absolute;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    /* top: 20px;
		left: 2rem;
		transform: translate(50%, -20px); */
    z-index: 5;
    transition: border 0.15s linear;
    -webkit-transition: border 0.15s linear;
  }
  .checked-radio::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    transition: background 0.15s linear;
    -webkit-transition: background 0.15s linear;
  }
  .formRadio {
    position: absolute;
    visibility: hidden;
  }
  .formRadio:checked ~ .checked-radio {
    border: 1px solid #f05a94;
  }
  .formRadio:checked ~ .checked-radio::before {
    background: #f05a94;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-align: center;
    overflow: hidden;
    /* background-color: #e0e0e0; */
    border: 1px solid #e0e0e0;
  }
  input[type="checkbox"]:checked:after {
    content: "✔";
    color: white;
    background-color: #f05a94;
    outline: none;
    padding: 5px;
  }
  .rangeInput-mobile {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .rangeInput-mobile::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
  }
  .rangeInput-mobile::-moz-range-track {
    -moz-appearance: none;
    height: 4px;
  }
  .rangeInput-mobile::-ms-track {
    appearance: none;
    height: 4px;
  }
  .rangeInput-mobile::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: #f05a94;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.3);
    background-image: url("/static/svg/thumb_icon.svg");
    background-position: center;
    background-size: contain;
  }
  .rangeInput-mobile::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.3);
    pointer-events: auto;
  }
  .rangeInput-mobile::-ms-thumb {
    appearance: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f05a94;
    pointer-events: auto;
  }
  .rangeInput-mobile:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #eeeeee;
  }
  .rangeInput {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .rangeInput::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 6px;
  }
  .rangeInput::-moz-range-track {
    -moz-appearance: none;
    height: 6px;
  }
  .rangeInput::-ms-track {
    appearance: none;
    height: 6px;
  }
  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: #f05a94;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
    background-image: url("/static/svg/thumb_icon.svg");
    background-position: center;
    background-size: contain;
  }
  .rangeInput::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f05a94;
    pointer-events: auto;
  }
  .rangeInput::-ms-thumb {
    appearance: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f05a94;
    pointer-events: auto;
  }
  .rangeInput:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #ffffff;
  }
  button {
    outline: none;
  }
  .overlay-overflow {
    overflow: overlay;
  }
  .opacity-keyframes {
    animation-name: opacity-delay;
  }
  @keyframes opacity-delay {
    from {
      opacity: 1;
      transition: 300ms linear all;
    }
    to {
      opacity: 0;
      transition: 300ms linear all;
    }
  }
}

@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("/static/fonts/SFProFont/SFProDisplay.eot?#iefix")
        format("embedded-opentype"),
      url("/static/fonts/SFProFont/SFProDisplay.woff2") format("woff2"),
      url("/static/fonts/SFProFont/SFProDisplay.woff") format("woff"),
      url("/static/fonts/SFProFont/SFProDisplay.ttf") format("truetype"),
      url("/static/fonts/SFProFont/SFProDisplay.svg#SFProDisplay") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "FontsFree-Net-SFProDisplay-Bold";
    src: url("/static/fonts/SFProFont/FontsFree-Net-SFProDisplay-Bold.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "FProDisplay-Bold";
    src: url("/static/fonts/SFProFont/SFProDisplay-Bold.ttf") format("truetype"),
      url("/static/fonts/SFProFont/SFProDisplay-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "FProDisplay-semi-bold";
    src: url("/static/fonts/SFProFont/SFProDisplay-Semibold.woff2")
        format("woff2"),
      url("/static/fonts/SFProFont/SFProDisplay-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF Pro Display";
    src: url("/static/fonts/SFProFont/SFProDisplay.eot?#iefix")
        format("embedded-opentype"),
      url("/static/fonts/SFProFont/SFProDisplay.woff2") format("woff2"),
      url("/static/fonts/SFProFont/SFProDisplay.woff") format("woff"),
      url("/static/fonts/SFProFont/SFProDisplay.ttf") format("truetype"),
      url("/static/fonts/SFProFont/SFProDisplay.svg#SFProDisplay") format("svg");
    font-weight: bold;
    font-style: bold;
  }
}

.container {
  @apply px-2 md:px-0 font-sfpro;
  max-width: 1105px !important;
  margin: 0 auto;
  /* min-width: 1000px !important; */
}

.max-w-desktop {
  max-width: 1366px;
}

@keyframes shineForSkeleton-sgqqklfu902 {
  to {
    -webkit-mask-position: 120% 0;
  }
}

@keyframes card-hover-animation {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    box-shadow: -60px 0px 100px -90px #888, 60px 0px 100px -90px #888;
  }
}

.background-dealshock {
  background-image: url("/static/svg/purple-bg.svg");
  background-size: 100%;
}

.background-interest {
  background-image: url("/static/svg/orange-bg.svg");
  background-size: 100%;
}

.trending-bg {
  background-image: url("/static/svg/trending-bg.svg");
  background-size: 100%;
}

.brand-mobile-bg {
  background: linear-gradient(180deg, #ebe5ff 0%, #e5fcff 117.89%);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed-one-line {
  @apply h-40 overflow-hidden;
}

.fixed-one-line-loading {
  @apply overflow-hidden;
  height: 8rem;
}

.padding-container-fixed {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 0px !important;
}

.padding-fixed {
  margin-top: -38px !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.emoji-mart {
  width: 338px !important;
}

.header-dropdown {
  /* animation: growDown 0.3s; */
  top: 0;
  position: fixed;
  width: 100%;
}
.sidebar-scroll {
  animation: growDownSidebar 0.3s;
  top: 0;
  position: fixed;
  top: 64px;
}
.showRisingUp {
  animation: riseUp 0.2s;
  bottom: 0;
}
.showRisingDown {
  animation: riseUp 0.2s;
  top: 0;
}
@keyframes riseDown {
  0% {
    top: 0;
  }
  100% {
    top: 10;
  }
}
@keyframes riseUp {
  0% {
    bottom: -55px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes growDownSidebar {
  0% {
    top: 0px;
  }
  100% {
    top: 64px;
  }
}
.sticky-filter {
  @apply fixed top-[52px] left-0;
}
.sticky-shop-header {
  @apply fixed top-[36px] left-0 pt-1 pb-1;
}
.sticky-shop-header-mobile {
  @apply fixed top-[0px] left-0 pl-[8px] pr-[6px] bg-white pt-2 w-[100vw];
}
.hover-card {
  @apply hover:shadow-md animation-200;
}
/* scrollbar  */

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: rgb(240, 238, 238);
  width: 8px;
  border: 1px #f4f4f4 solid;
  border-left: none;
  border-right: none;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border-radius: 10px;
  border: 1px solid #fff;
  height: 20px;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar {
  width: 100%;
  overflow-y: scroll;
}
.border-inner:nth-child(odd) {
  border-right: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
}
.border-inner:nth-child(even) {
  border-bottom: 1px solid #f6f6f6;
}
.focus-outline-none {
  outline: none !important;
}

.focus-outline-none:focus,
.focus-outline-none:focus,
a:focus,
span:focus,
img:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.focus-outline-none:focus,
.focus-outline-none:focus,
a:focus,
span:focus,
img:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.focus-outline-none:focus-visible,
.focus-outline-none:focus-visible,
a:focus-visible,
span:focus-visible,
img:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: none !important;
}

@layer base {
  div[class="react-emoji"] {
    width: 100%;
    border: none;
  }
  div[class="react-input-emoji--container"] {
    @apply bg-none border-none w-full;
  }
  div[class="react-emoji-picker--wrapper"] {
    top: -363px;
    left: -50px;
  }
  div[class="react-input-emoji--placeholder"] {
    left: 2px;
  }
  button[class="react-input-emoji--button"] {
    padding: 0px;
  }
  button[class="react-input-emoji--button react-input-emoji--button__show"] {
    padding: 0px;
  }
  div[class="react-input-emoji--input"] {
    padding: 0px;
    width: 100%;
    /* height: 20px; */
  }
}
@media screen and (max-height: 600px) {
  .hide-nav-bar {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  *:focus,
  *:focus-visible {
    outline: none !important;
  }
}
/* .react-emoji-picker--wrapper {
	bottom: -409px !important;
	right: -1px !important;
}
.emoji-mart-scroll {
	scrollbar-width: none !important;
}
.emoji-mart-scroll::-webkit-scrollbar {
	width: 0px !important;
}
.emoji-mart-scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.react-input-emoji--input {
	padding: 7px 5px;
} */
